<h1>Test de personnalité DISC</h1>

<p>
  Découvrez votre profil de personnalité à travers un questionnaire simple et rapide.
</p>

<p>
  Le test permet d’identifier votre profil principal et votre profil secondaire.
</p>

<%= link_to "Commencer le test", test_path(1) %>